.clearfix {
  @include clearfix();
}

.push-left {
  float: left !important;
}

.push-right {
  float: right !important;
}

@each $break, $point in $breakpoints {
  .is-hidden-#{$break} {
    @include bp("<#{$break}") {
      display: none !important;
    }
  }

  .is-visible-#{$break} {
    @include bp(">#{$break}") {
      display: none !important;
    }
  }
}
